In [9]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'A' : range(1,11), 'B' : np.random.randn(10)})
df

    A         B
0   1  0.605365
1   2  0.080271
2   3 -0.402563
3   4 -0.425385
4   5 -0.307610
5   6 -0.531361
6   7 -0.675145
7   8 -0.921904
8   9  0.465411
9  10  1.608613

In [12]:
df.assign(In_A = lambda x:np.log(x.A)) #새로운 열을 만들어서 추가
#df['ln_A'] = np.log(df.A) 동일
#df.ln_A = np.log(df.A) 동일

    A         B      In_A
0   1  0.605365  0.000000
1   2  0.080271  0.693147
2   3 -0.402563  1.098612
3   4 -0.425385  1.386294
4   5 -0.307610  1.609438
5   6 -0.531361  1.791759
6   7 -0.675145  1.945910
7   8 -0.921904  2.079442
8   9  0.465411  2.197225
9  10  1.608613  2.302585

In [14]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"]) 
    #숫자 데이터를 카테고리컬한 데이터로 변환

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [16]:
 pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [22]:
df.max(axis=1) # 0 : 열 기준, 1 : 행 기준
df.min(axis=0)

A    1.000000
B   -0.921904
dtype: float64

In [29]:
df["A"].clip(lower=-1,upper=5) #범위 안에서 변환.
df["B"].clip(lower=1,upper=3)

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.608613
Name: B, dtype: float64

In [31]:
df["B"].abs() #절댓값

0    0.605365
1    0.080271
2    0.402563
3    0.425385
4    0.307610
5    0.531361
6    0.675145
7    0.921904
8    0.465411
9    1.608613
Name: B, dtype: float64