# Formatting
> 종류
- % 서식문자
- str.format
- f-string

## % formatting

> % 기호 뒤에 자료형을 가리키는 문자가 옴.
- %s -> 문자열
- %d -> 정수
- %f -> 실수
- %o -> 8진수
- %x -> 16진수
- %% -> 문자 % 표현

### 기본예제

In [26]:
# 정수

num = 24
print('my age is %d' % num) 

# 문자
names = ['kim', 'park', 'lee']
for name in names:
    print('my name is %s' % name)
    
# 실수
d = 3.141592
print('value is %f' % d)

my age is 24
my name is kim
my name is park
my name is lee
value is 3.141592

### 두 개 이상의 값 포매팅
- () 이용
- 여러개 있을 때 순서대로 입력해야함

In [28]:
name = 'taenam'
age = 24
money = 3000
height = 178
print('my name is %s, age = %d, height = %d, money = %d' % (name, age, height, money))

my name is taenam, age = 24, height = 178, money = 3000

## str.format
> .format
- '{인덱스0}, {인덱스1}'.format(값0, 값1)

### 기본 예제

In [32]:
a = 2
b = 3
print('구구단 : {0} x {1} = {2}'.format(a,b,a*b))

구구단 2 x 3 = 6

### 직접 대입, 변수로 대입, 이름으로 대입

In [39]:
# 직접 대입
print('name : {0}'.format('taenam'))

# 변수로 대입
age = 24
print('age : {0}'.format(age))

# 이름으로 대입
print('number : {num}, gender : {gen}'.format(num = 1234, gen = 'male'))

name : taenam
age : 24
number : 1234, gender : male

### 인덱스 사용

In [42]:
# 인덱스 입력하지 않았을 때
print('test1 : {}, test2 : {}'.format('인덱스0', '인덱스1'))

# 인덱스 순서 바뀔 때
print('test1 : {1}, test2 : {0}'.format('인덱스0', '인덱스1'))

# 인덱스 중복해서 입력할 때
print('test1 : {0}, test2 : {1}, test3 : {0}'.format('인덱스0', '인덱스1'))

test1 : 인덱스0, test2 : 인덱스1
test1 : 인덱스1, test2 : 인덱스0
test1 : 인덱스0, test2 : 인덱스1, test3 : 인덱스0

### 중괄호 출력
- {{}}

In [46]:
# 중괄호 출력
print('Format example : {{}}, {}'.format('test'))

# 중괄호 친 값 출력
print('This is value : {{{}}}'.format(1212))

Format example : {}, test
This is value : {1212}

### 문자열 정렬
> 정렬
- 왼쪽 정렬 : <
- 오른쪽 정렬 : >
- 가운데 정렬 : ^
- 뒤에 오는 숫자 : 자릿수

- {인덱스 : < 10} : {인덱스}값을 왼쪽 정렬하여 10자리로 표현

In [50]:
# 왼쪽 정렬
print('| this is {0:<10} | {1:<5} |'.format('left', 'a'))

# 가운데 정렬
print('| this is {0:^10} | {1:^5} |'.format('center', 'a'))

# 오른쪽 정렬
print('| this is {0:>10} | {1:>5} |'.format('right', 'a'))

| this is left       | a     |
| this is   center   |   a   |
| this is      right |     a |

### 문자열에 공백이 아닌 값 채우기
- <,^,> 기호 앞에 특정 문자를 입력

In [52]:
# 왼쪽 정렬
print('| this is {0:-<10} | {1:-<5} |'.format('left', 'a'))

# 가운데 정렬
print('| this is {0:+^10} | {1:+^5} |'.format('center', 'a'))

# 오른쪽 정렬
print('| this is {0:*>10} | {1:*>5} |'.format('right', 'a'))

| this is left------ | a---- |
| this is ++center++ | ++a++ |
| this is *****right | ****a |

### 자리수와 소수점 표현
> 정수 자리수
- 0Nd : N은 원하는 자릿수 입력

> 소수점 자리수
- 0.Nf : N은 소수점 아래 표시할 자릿수

In [56]:
# 정수 N자리
print('정수 3자리 : {0:03d}, {1:03d}'.format(12345, 12))
print('정수 {0}자리 : {1:0{0}d}, {2:0{0}d}'.format(3, 12345, 12))

# 소수점 N자리
print('소수점아래 3자리 : {0:0.3f}, 소수점아래 5자리 : {1:05f}'.format(123.12345, 123))

정수 3자리 : 12345, 012
정수 3자리 : 12345, 012
소수점아래 3자리 : 123.123, 소수점아래 5자리 : 123.000000

## f-string
> f-string
- python 3.6 부터 사용 가능한 기능
- f'문자열 {변수} 문자열'
- 문자열 앞에 f 붙여주고, 중괄호 안에 직접 변수 이름이나 값을 바로 입력.

### 기본 예제

In [13]:
# 기본 예제

drink = 'coffee'
n = 5
result = f'저는 {drink}를 좋아해요. 하루에 {n}잔 마셔요.'
print(result)

저는 coffee를 좋아해요. 하루에 5잔 마셔요.

### 정렬 (왼쪽, 오른쪽, 가운데)
> 정렬
- 중괄호 {}안에 있는 변수 뒤에 콜론(:)을 붙인 후 왼쪽 정렬 (<), 오른쪽 정렬(>), 가운데 정렬(^)의 옵션을 넣음
- 그 후 자릿수를 알려주는 숫자를 넣음.

In [14]:
#  정렬 (왼쪽, 오른쪽, 가운데)

# 왼쪽 정렬
s1 = 'left'
res1 = f'|{s1:<15}|'
print(res1)

# 가운데 정렬
s2 = 'mid'
res2 = f'|{s2:^15}|'
print(res2)

# 오른쪽 정렬
s3 = 'right'
res3 = f'|{s3:>15}|'
print(res3)

|left           |
|      mid      |
|          right|

### 중괄호 출력 방법
> 중괄호 출력
- {{}} : 괄호를 연속해서 두개를 사용하면 중괄호 자체를 출력
- {{{}}} : 괄호를 세개 입력하면 변수값으로 인식하고 괄호 출력함

In [15]:
# 중괄호 출력

num = 24
result = f'my age is {{{num}}}, {{num}}'
print(result)

my age is {24}, {num}

### dictionary

In [36]:
# f-string과 dictionary

d = {'name':"taenam", 'gender':"male", 'age' : 24}
result = f'name : {d["name"]}, gender : {d["gender"]}, age : {d["age"]}'
print(result)

name : taenam, gender : male, age : 24

### List

In [22]:
# f-string과 list

n = [100, 200, 300]

print(f'list : {n[0]}, {n[1]}, {n[2]}')

for i in n:
    print(f'list with for : {i}')

list : 100, 200, 300
list with for : 100
list with for : 200
list with for : 300

## 구구단 8단, 9단

### % 사용

In [60]:
for i in range(8,10):
    print('\n')
    for j in range(1,10):
        print('%d x %d = %d'% (i, j, i*j))

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### str.format 사용

In [63]:
for i in range(8,10):
    print('\n')
    for j in range(1,10):
        print('{} x {} = {}'.format(i, j, i*j))

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### f-string 사용

In [65]:
for i in range(8,10):
    print('\n')
    for j in range(1,10):
        print(f'{i} x {j} = {i*j}')

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81